@model IEnumerable<BookStore.Models.ViewModels.Shop.ProductViewModel>

@{
    ViewBag.Title = ViewBag.CategoryName;
}

@Styles.Render("~/Content/customStyles/CategoryStyle.css")
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

@if (@ViewBag.CategoryName == "Books")
{
    <h2 class="title-category">Книги</h2>
}
@if (@ViewBag.CategoryName == "Office stuff")
{
    <h2 class="title-category">Канцелярия</h2>
}



<div class="prod-container">
    @foreach (var item in Model)
    {
        <div class="prod-item">

            <div class="cover-wraper">
                <a class="cover" href="/home/product-details/@item.Slug">
                    <div class="prod-img">
                        <img src="/Images/Uploads/Products/@item.Id/Thumbs/@item.ImageName" class="img grow" />
                    </div>
                </a>
            </div>

            <div class="name">
                @Html.DisplayFor(modelItem => item.Name)
            </div>

            <div class="description">
                @Html.DisplayFor(modelItem => item.Description)

            </div>

            <div class="prod-price">
                @Html.DisplayFor(modelItem => item.Price) руб.
            </div>

            @if (Request.IsAuthenticated)
            {
                <div>
                    <a data-id="@item.Id" id="@item" class="btn prod-link authorized grow">
                        <div class="row">
                            <div class="col">
                                <img src="~/Source files/cart-mainMenu.svg" class="prod-link-icon" width="20" height="20" />
                                В корзину
                            </div>
                        </div>
                    </a>
                </div>
            }

            @if (!Request.IsAuthenticated)
            {
                <div>
                    <a data-id="@item.CategoryName.ToLower().Replace(" ", "-")" id="@item" class="btn prod-link unauthorized grow">
                        <div class="row">
                            <div class="col">
                                <img src="~/Source files/cart-mainMenu.svg" class="prod-link-icon" width="20" height="20" />
                                В корзину
                            </div>
                        </div>
                    </a>
                </div>
            }


        </div>
    }
</div>

<div class="email-distirbution">
    <img src="~/Source files/email-letter-img.png" id="email-image" />
    <div class="email-distirbution-info">
        <span>Узнавайте первыми обо всех новинках и распродажах.<br /> Получайте персональные предложения.</span><br />
        <div>
            <input type="text" id="email-input" placeholder="E-mail" />
            <a class="btn" id="email-input-btn" onclick="sendEmail()">Подписаться</a>
        </div>

    </div>

</div>

<div id="dialog-confirm" title="Продукт добавлен в корзину">

</div>

<div id="dialog-authorize" title="Нужна авторизация">

</div>

@section Scripts
{
    <script>

        $(function () {
            $.ui.dialog.prototype._focusTabbable = function () { };

            $("#dialog-confirm").dialog({
                draggable: false,
                autoOpen: false,
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: [
                    {
                        text: "Продолжить",
                        id: "btn-keep-shop",
                        click: function () {
                            $(this).dialog("close");
                        }
                    },

                    {
                        text: "В корзину",
                        click: function () {
                            window.location.replace("/Cart/Index");
                        }
                    }
                ]

            });

            $(".authorized").on("click", function () {

                /*$(this).addClass('prod-link-clicked');*/

                var $this = $(this);
                var productId = $(this).data("id");
                var url = "/cart/AddToCartPartial/" + productId;

                $.get(url, function (data) {
                    $("#dialog-confirm").dialog("open");
                });
            });
        });

        $(function () {
            $.ui.dialog.prototype._focusTabbable = function () { };

            $("#dialog-authorize").dialog({
                draggable: false,
                autoOpen: false,
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: [
                    {
                        text: "Войти",
                        id: "btn-keep-shop",
                        click: function () {
                            window.location.replace("/Account/Login");
                        }
                    },

                    {
                        text: "Регистрация",
                        click: function () {
                            window.location.replace("/Account/create-account");
                        }
                    }
                ]

            });

            $(".unauthorized").on("click", function () {

                /*$(this).addClass('prod-link-clicked');*/
                var $this = $(this);
                var productName = $(this).data("id");
                var url = "/home/Category/" + productName;

                $.get(url, function (data) {
                    $("#dialog-authorize").dialog("open");
                });
            });
        });
    </script>
}